.color-collection{
    color: #eaebfe;
    color: #b0b8ce;
    color: #505a74;
    color: #354c7c;
    color: #022954;
}

img{
    height: 250px;
}

.header{
    background-color: #022954;
    padding: 20px;
    color: #eaebfe;
}

.navigationBar{
    padding: 20px;
    background-color: #354c7c;
}

body{
    background-color: #505a74;
    color:#eaebfe;
}

body > div{
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    border: 3px solid #b0b8ce;
  }

.sideBySide{
    display: inline-block;
    vertical-align: top;

}

.spaceLeft{
    padding-left: 20px;
}

a:link{
    color:#eaebfe
}

a:visited{
    color:#eaebfe

}

.inline{
    display: inline-block;
}
