.color-collection{
    color: #eaebfe;
    color: #b0b8ce;
    color: #505a74;
    color: #354c7c;
    color: #022954;
}

img{
    height: 250px;
}

.profileImage{
    height: 150px;
}

.header{
    display: flex;
    gap: 20px;
    background-color: #022954;
    padding: 20px;
    color: #eaebfe;
}

.navigationBar{
    background-color: #354c7c;
    display: flex;
    gap: 30px;
}

body{
    background-color: #505a74;
    color:#eaebfe;
    margin: 0;
}

body > div{
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    border: 3px solid #b0b8ce;
    margin-top: 0;
    margin-bottom: 0;
  }


a:link{
    color:#eaebfe
}

a:visited{
    color:#eaebfe

}

.inline{
    display: inline-block;
}

.larger{
    font-size: 25px;
}
